{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set selectedSubnavItem = 'pricelists' %}

{% set crumbs = [
    { label: 'Pricelists' | t('pricelists'), url: url('pricelists') },
] %}

{% set title = pricelist.id ? ('Edit'|t('pricelists')) ~ ' ' ~ pricelist.title :  ('New pricelist'|t('pricelists')) %}
{% set fullPageForm = true %}
{% set saveShortcutRedirect = continueEditingUrl %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save' | t('app') }}">

        <div class="btn submit menubtn"></div>
        <div class="menu">
            <ul>
                <li>
                    <a class="formsubmit" data-redirect="{{ continueEditingUrl | hash }}">
                        {{ forms.optionShortcutLabel('S') }}
                        {{ "Save and continue editing" | t('app') }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block contextMenu %}
    {% if craft.app.getIsMultiSite() %}
        <div class="btn menubtn" data-icon="world">{{ pricelist.site.name|t('site') }}</div>
        <div class="menu">
            <ul class="padded">
                {% for siteId in siteIds %}
                    {% set site = craft.app.sites.getSiteById(siteId) %}
                    {% set status = siteId in enabledSiteIds ? 'enabled' : 'disabled' %}
                    <li>
                        {% if siteId == pricelist.siteId %}
                            <a class="sel">
                                <div class="status {{ status }}"></div>
                                {{ site.name|t('site') }}
                            </a>
                        {% else %}
                            <a href="{{ url('pricelists/new/' ~ site.handle) }}">
                                <div class="status {{ status }}"></div>
                                {{ site.name|t('site') }}
                            </a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ actionInput('pricelists/pricelists/save') }}
    {{ hiddenInput('pricelistId', pricelist.id) }}
    {{ hiddenInput('siteId', pricelist.siteId) }}
    {{ redirectInput('pricelists') }}
    {{ csrfInput() }}

    <div id="fields">
        {{ forms.textField({
            label: 'Title'|t('pricelists'),
            site: pricelist.site,
            id: 'title',
            name: 'title',
            value: pricelist.title,
            errors: pricelist.getErrors('title'),
            first: true,
            autofocus: true,
            required: true,
            maxlength: 255
        }) }}

        {{ forms.elementSelectField({
            id: 'customers',
            label: 'Customers'|t('pricelists'),
            name: 'customers',
            elements: pricelist.getCustomers(),
            elementType: customerElementType,
            limit: null,
            errors: pricelist.getErrors('customers'),
            required: true
        }) }}
    </div>
{% endblock %}