{% extends '_layouts/cp' %}
{% import '_includes/forms' as forms %}

{% set selectedSubnavItem = 'pricelists' %}

{% do view.registerAssetBundle('nichxlson\\pricelists\\assetbundles\\PricelistsAsset') %}

{% if title is not defined %}
    {% set title = 'Pricelists' | t('pricelists') %}
{% endif %}

{% set crumbs = [
    { label: 'Pricelists' | t('pricelists'), url: url('pricelists') },
] %}

{% set fullPageForm = true %}

{% set tabs = {
    customers: {
        label: 'Customers' | t('pricelists'),
        url: '#pricelists-customers-container',
    },
    products: {
        label: 'Products' | t('pricelists'),
        url: '#pricelists-products-container',
    },
} %}

{% block content %}
    {{ actionInput('pricelists/pricelists/save') }}
    {{ hiddenInput('pricelistId', pricelist.id) }}
    {{ hiddenInput('siteId', pricelist.siteId) }}
    {{ redirectInput('pricelists') }}
    {{ csrfInput() }}

    <div id="fields">
        {{ forms.textField({
            label: 'Title' | t('app'),
            site: pricelist.site,
            id: 'title',
            name: 'title',
            value: pricelist.title,
            placeholder: 'Enter title' | t('app'),
            errors: pricelist.getErrors('title'),
            first: true,
            autofocus: true,
            required: true,
            maxlength: 255,
            fieldClass: 'width-100',
        }) }}

        <hr>

        <div id="pricelists-customers-container">
            <div id="pricelistProductsTable" class="pricelist-products-table data fullwidth collapsible">
                <div class="pricelist-products-table-header pricelist-table-row">
                    <div class="pricelist-table-cell">
                        <span class="required">{{ 'Customer' | t('pricelists') }}</span>
                    </div>

                    <div class="pricelist-table-cell">
                        <span></span>
                    </div>

                    <div class="pricelist-table-cell">
                        <span></span>
                    </div>

                    <div class="pricelist-table-cell">
                        <span></span>
                    </div>
                </div>

                <div class="create-pricelist-products-container">
                    {% set totalNewCustomers = 0 %}

                    {% for customer in customers %}
                        {% set customerId = customer.id %}

                        {% if not customerId %}
                            {% set totalNewCustomers = totalNewCustomers + 1 %}
                            {% set customerId = 'new' ~ totalNewCustomers %}
                        {% endif %}

                        {% namespace 'customers[' ~ customerId ~ ']' %}
                            {% include 'pricelists/_includes/customer-row' %}
                        {% endnamespace %}
                    {% endfor %}
                </div>
            </div>

            <a class="btn add add-pricelist-customer icon dashed" tabindex="0">{{ 'Add customer' | t('events') }}</a>
        </div>

        <div id="pricelists-products-container" class="hidden">
            <div id="pricelistProductsTable" class="pricelist-products-table data fullwidth collapsible">
                <div class="pricelist-products-table-header pricelist-table-row">
                    <div class="pricelist-table-cell">
                        <span class="required">{{ 'Product' | t('pricelists') }}</span>
                    </div>

                    <div class="pricelist-table-cell">
                        <span>{{ 'Original price' | t('pricelists') }}</span>
                    </div>

                    <div class="pricelist-table-cell">
                        <span class="required">{{ 'Pricelist price' | t('pricelists') }}</span>
                    </div>

                    <div class="pricelist-table-cell">
                        <span></span>
                    </div>
                </div>

                <div class="create-pricelist-products-container">
                    {% set totalNewProducts = 0 %}

                    {% for product in products %}
                        {% set productId = product.id %}

                        {% if not productId %}
                            {% set totalNewProducts = totalNewProducts + 1 %}
                            {% set productId = 'new' ~ totalNewProducts %}
                        {% endif %}

                        {% namespace 'products[' ~ productId ~ ']' %}
                            {% include 'pricelists/_includes/product-row' %}
                        {% endnamespace %}
                    {% endfor %}
                </div>
            </div>

            <a class="btn add add-pricelist-product icon dashed" tabindex="0">{{ 'Add product' | t('events') }}</a>
        </div>
    </div>
{% endblock %}

{% block details %}
    {% if pricelist.id %}
        <div class="meta read-only">
            <div class="data">
                <h5 class="heading">{{ 'Date Created' | t('pricelists') }}</h5>
                <div class="value">{{ pricelist.dateCreated|date('short') }} {{ pricelist.dateCreated|time('short') }}</div>
            </div>

            <div class="data">
                <h5 class="heading">{{ 'Date Updated' | t('pricelists') }}</h5>
                <div class="value">{{ pricelist.dateUpdated|date('short') }} {{ pricelist.dateUpdated|time('short') }}</div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% js %}
    new Craft.Pricelists.ProductEdit(
        'pricelists-products-container',
        {{ products | json_encode | raw }},
        {{ productRowHtml | json_encode | raw }}
    );

    new Craft.Pricelists.CustomerEdit(
        'pricelists-customers-container',
        {{ customers | json_encode | raw }},
        {{ customerRowHtml | json_encode | raw }}
    );
{% endjs %}